<body id="top-index">
    <div class="wrap">
        <div class="top-content">
            <h1>Let's leave every day<br>in your diary only for you.</h1>
            <p>毎日のちょっとした出来事を言葉で残しましょう！
            <br >レコーディングダイエットや日記，<br>今の気持ちなどあなただけのオリジナルブロブ作りましょう．</p>
            <div class="btn-group" role="group" aria-label="...">
              <button type="button" class="btn btn-default" onclick="location.href='blogs'">My Blog</button>
            </div>
        </div>
    </div>
</body>


<!--<body>
    
    <div class="top">
        <img class="col-xs-12" src="assets/top_img.png">
    </div>

    

    
</body>-->