// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.blogs_image{
  background: url('blgs_gray.jpg');
 width: 100%;
 background-repeat: no-repeat;
 background-size: cover;
}