// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.blogs_image{
  background: url('blgs_gray.jpg');
 width: 100%;
 background-repeat: no-repeat;
 background-size: cover;
}


table{
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

th{
    text-align: center;
}

p.users_img img{
    width: 300px;
    height: 300px;
}